@import url("https://fonts.googleapis.com/css?family=Kanit");

--colors-white: #fff;
--colors-failure: #ed4b9e;
--colors-failure33: #ed4b9e33;
--colors-primary: #1fc7d4;
--colors-primary0f: #1fc7d40f;
--colors-primary3D: #1fc7d43d;
--colors-primaryBright: #53dee9;
--colors-primaryDark: #0098a1;
--colors-success: #31d0aa;
--colors-success19: #31d0aa19;
--colors-warning: #ffb237;
--colors-warning2D: #ed4b9e2d;
--colors-warning33: #ed4b9e33;
--colors-binance: #f0b90b;
--colors-overlay: #452a7a;
--colors-gold: #ffc700;
--colors-silver: #b2b2b2;
--colors-bronze: #e7974d;
--colors-secondary: #7645d9;
--colors-secondary80: #7645d980;
--colors-background: #faf9fa;
--colors-backgroundDisabled: #e9eaeb;
--colors-backgroundAlt: #fff;
--colors-backgroundAlt2: hsla(0, 0%, 100%, 0.7);
--colors-cardBorder: #e7e3eb;
--colors-contrast: #191326;
--colors-dropdown: #f6f6f6;
--colors-dropdownDeep: #eee;
--colors-invertedContrast: #fff;
--colors-input: #eeeaf4;
--colors-inputSecondary: #d7caec;
--colors-tertiary: #eff4f5;
--colors-text: #280d5f;
--colors-text99: #280d5f99;
--colors-textDisabled: #bdc2c4;
--colors-textSubtle: #7a6eaa;
--colors-disabled: #e9eaeb;
--colors-gradientBubblegum: linear-gradient(139.73deg, #e5fdff, #f3efff);
--colors-gradientInverseBubblegum: linear-gradient(139.73deg, #f3efff, #e5fdff);
--colors-gradientCardHeader: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
--colors-gradientBlue: linear-gradient(180deg, #a7e8f1, #94e1f2);
--colors-gradientViolet: linear-gradient(180deg, #e2c9fb, #cdb8fa);
--colors-gradientVioletAlt: linear-gradient(180deg, #cbd7ef, #9a9fd0);
--colors-gradientGold: linear-gradient(180deg, #ffd800, #fdab32);

h1,
p,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}
